.drop-filter {
    margin-top: '50px';
}

.ui.secondary.menu > .no-padding {
    padding: 0 !important;
 }

.ui.grid > .left-margin {
    margin-left: 1rem !important;
 }

 .page-item {
    cursor: pointer;
  }
  
  .pagination {
    justify-content: center;
  }
  
  .active{
    color: #58768d;
  }
  
  .page-item{
    color: #58768d;
  }


  .ui.segment.Change:hover {
    background-color: black !important;
  }

  .ui.card.Change:hover {
    background-color: rgb(213, 202, 233);
  }
