.drop-filter {
    margin-top: '50px';
}

.ui.secondary.menu > .no-padding {
    padding: 0 !important;
 }

.ui.grid > .left-margin {
    margin-left: 1rem !important;
 }

 .page-item {
    cursor: pointer;
  }
  
  .pagination {
    justify-content: center;
  }
  
  .active{
    color: #58768d;
  }
  
  .page-item{
    color: #58768d;
  }

  .edit.outline.icon.Edit:hover {
    color: rgb(156, 154, 154) !important;
  }

  .delete.icon.Delete:hover {
    color: rgb(177, 23, 23) !important;
  }

  .header.Title:hover {
    color: rgb(156, 154, 154) !important;
  }

  .ui.card.Change:hover {
    background-color: rgb(226, 222, 230);
  }

  .ui.scrolling.modal.transition.visible.active > .relative {
    position: relative !important;

  }

.ui.header > .center {
  padding-left: '200px';
}

.center-text {
  text-align: center;
}


.image-component {
  /* The image used */

  /* Full height */ 
  /* height: 75vh;
  width: 100%; */
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

